html {
  background-color:#c0c0c0;
}

body {
  font-color:#000066;
  font-family: verdana;
  margin: 0;
  padding: 0;
}

a {
  color:#66ffff;

}

a:visited {
  color:#ffccff;

}

header {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
  height: 10%;
}

footer {
  position: absolute;
  left:0;
  bottom: 0;
  width: 101%;
  clear: both;
}

.post {
  width: 75%;
  display: block;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0 px;
}

li {
  list-style-type: none;
}

.sidebar {
  width: 25%;
  display: block;
  float: right;

}