html {
  background-color:#EEE9BF;

}

body {
  font-family: 'Bitter', serif;
  color:#54632C;
}

a:link {
  color:#8B814C;
  text-decoration: none;
}

a:visited {
  color:#8B814C;
  text-decoration: none;
}

a:hover {
  text-transform: uppercase;
}

h4 {
  font-style: italic;
}

.post {
  float: left;
  display: block;
  margin:0px;
  padding:0px;
  width: 70%;
  border: 1.5px dotted #8B814C;
}

ul {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

li {
  list-style-type: none;
}

.sidebar {
  float: right;
  width: 25%;
  display: block;
  margin:0;
  padding:0;
}